* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lilita One", cursive;
  font-size: 2rem;
  text-align: center;
  background: url(./background.jpg) center center / cover no-repeat;
}

h1 {
  font-size: 6rem;
  color: #e87239;
  text-shadow: #251f3b 5px 5px 5px;
}

.game {
  display: none;
}

.start-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.start {
  font-size: 4rem;
  margin: 4rem 0;
}

.player-name {
  width: 20rem;
  height: 2rem;
  background: none;
  border: none;
  border-bottom: 8px solid #251f3b;
  text-shadow: #251f3b 5px 5px 5px;
  margin-bottom: 4rem;
  color: #eaeaea;
  font-size: 2rem;
  text-align: center;
  outline: none;
  font-family: "Lilita One", cursive;
}

.player-name::placeholder {
  font-size: 2rem;
  color: #eaeaea;
  text-align: center;
}

.player-name:focus::placeholder {
  color: transparent;
  text-shadow: none;
}

.comment {
  color: #eaeaea;
  text-shadow: #251f3b 5px 5px 5px;
}

button {
  font-family: "Lilita One", cursive;
  font-size: 3rem;
  border: 0;
  background-color: transparent;
  margin: 1rem 0;
  color: #eaeaea;
  text-shadow: #251f3b 5px 5px 5px;
  cursor: pointer;
}

.result,
.score {
  font-size: 3rem;
  color: #eaeaea;
  text-shadow: #251f3b 5px 5px 5px;
  margin-bottom: 1rem;
}

.top-buttons {
  display: flex;
  justify-content: space-around;
}

.content {
  display: flex;
  justify-content: space-around;
  padding: 4rem 0;
  border: 8px solid #251f3b;
  border-radius: 3rem;
  color: #eaeaea;
  text-shadow: #251f3b 5px 5px 5px;
  font-size: 3rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .start {
    font-size: 3rem;
  }

  .comment {
    font-size: 1.5rem;
  }

  button {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .result,
  .score {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .content {
    font-size: 2rem;
    padding: 2rem;
    margin: 0 1rem;
    gap: 15px;
  }
}
